<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day_name }} Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
</head>

<body>

    <header class="site-header">
        <h2 class="site-title">Turun opiskelijaravintoloiden ruokalistat</h2>

        <div class="nav-container">

            <select id="themeSelector">
                <option value="default">Default</option>
                <option value="dark-mode">dark-mode</option>
                <option value="violet-crush">violet-crush</option>
            </select>

            <div class="navigation">
                {% if prev_day_url %}
                <a href="{{ prev_day_url }}" class="nav-button prev">&lt;</a>
                {% endif %}

                <span class="current_day">{{ day_name }} {{ current_date }}</span>

                {% if next_day_url %}
                <a href="{{ next_day_url }}" class="nav-button right">&gt;</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="restaurant-container">
        <!-- Loop through each restaurant's content -->
        {% for restaurant in all_restaurant_content %}
        <div class="restaurant">
            <h2>
                {{ restaurant['restaurant_name'] }} -
                <span class="opening-hours">{{ restaurant['Opening_hours'] }}</span>
            </h2>

            {% if restaurant['day_menus'] %}
            <ul>
                {% for menu in restaurant['day_menus'] %}
                {% if menu['Components'] %}
                <li>
                    <strong>{{ menu['Name'] }} - {{ menu['Price'] }}</strong>
                    <ul>
                        {% for component in menu['Components'] %}
                        <li>{{ component }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <p>No menu available for {{ day_name }}</p>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>