<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day_name }} Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <header class="site-header">
        <h2 class="site-title">Turun opiskelijaravintoloiden ruokalistat</h2>
    </header>

    <div class="restaurant-container">
        <!-- Loop through each restaurant's content -->
        {% for restaurant in all_restaurant_content %}
        <div class="restaurant">
            <h2>{{ restaurant['restaurant_name']  }} - <span class="opening-hours">{{ restaurant['Opening_hours'] }}</span></h2>

            <!-- Display the menus for the selected day -->
            {% if restaurant['day_menus'] %}
            <ul>
                {% for menu in restaurant['day_menus'] %}
                {% if menu["Components"] %}
                <li>
                    <strong>{{ menu['Name'] }} - {{ menu['Price'] }}</strong>
                    <ul>
                        {% for component in menu['Components'] %}
                        <li>{{ component }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <p>No menu available for {{ day_name }}</p>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </div>

    <div class="navigation">
        <a href="{{ url_for('show_day', day_name=prev_day) }}" class="nav-button prev"><</a>
        <span class="current_day"> {{ day_name }} {{ current_date }} </span>
        <a href="{{ url_for('show_day', day_name=next_day) }}" class="nav-button right">></a>
    </div>
</body>

</html>